* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: white;
    background: transparent;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;

    background: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 768px;
    min-height: 100vh;
    margin: auto;
}

section {
    position: relative;
    z-index: 1;

    width: 90%;

    padding: 2rem;
    padding-top: 1rem;
    
    box-sizing: border-box;
}

section:last-of-type {
    background: black;
}

section > div {
    font-size: 1.5rem;
}

section:last-of-type {
    margin-bottom: 1rem;
}

aside {
    text-align: right;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    
    font-size: 2rem;
}

select {
    border: transparent;
    margin-left: -2px;
    margin-bottom: -1px;
    min-width: 50px;

    font-size: 2rem;

    cursor: pointer;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;
}

.input-group > input,
.input-group > span {
    font-size: 2rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

button {
    font-size: 1.5rem;

    margin-top: 2rem;
    padding: 1rem;
    width: 100%;

    cursor: pointer;
}

button:disabled {
    color: #666666;
    cursor: not-allowed;
}

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    gap: 1rem;
    padding: 0.25rem 0.5rem;

    border-top-left-radius: 0.5rem;
    
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,.5);
}

small, a {
    font-size: 16px;
    text-align: left;
    color: black;
}

canvas {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 50;

    width: 100%;
    height: 100%;
    max-width: 960px;
}

.hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

@media (min-width: 640px) {
    section > div {
        font-size: 2rem;
    }

    label {
        flex-direction: row;
    }
    
    select {
        flex: unset;
    }

    button {
        width: fit-content;
    }

    .input-group {
        flex-direction: row;
        gap: 1rem;
    }
}
